//---------- sekcja diagnostyki aut ------------------
.electronics-section__car {
	position: relative;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;

	//optymalizacja zdjęć
	@media screen and (min-width: 1025px) {
		background-image: url("../../../assets/images/car_1080p.jpg");
	}
	@media screen and (min-width: 601px) and (max-width: 1024px) {
		background-image: url("../../../assets/images/car_720p.jpg");
	}

	@media screen and (max-width: 600px) {
		background-image: url("../../../assets/images/car_480p.jpg");
	}

	&.active {
		animation: opacityOnSection 1.5s ease-out 0.5s both;
	}
}

.electronics-section__car-article {
	position: absolute;
	top: 350vh;
	left: 50%;
	width: 90vw;
	transform: translate(-50%, -50%);
	text-align: center;
	&.active {
		animation: fadeInArticle 1.5s ease 1s both;
		.electronics-section__car-paragraph {
			animation: fadeInParagraph 1.5s ease 1s both;
		}
	}
}
@media screen and (max-width: 600px) {
	.electronics-section__car-article {
		opacity: 1;
		font-size: 3rem;
		filter: brightness(100%);
		.electronics-section__car-paragraph {
			opacity: 1;
			font-size: 1.5rem;
		}
	}
}
